@page "/"
@using System.Security.Claims
@attribute [Authorize]

@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Домашняя страница</PageTitle>

<h1>Приветствую Вас, @fullname!</h1>

@code {
    private string? fullname;

    protected override async Task OnInitializedAsync()
    {
        // Получение состояния аутентификации
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var t = authState.User.Claims.Select(x => x.Type).ToList();
        foreach (var s in t) {
            Console.WriteLine(s);
        }
        fullname = $"{authState.User.FindFirst("unique_name")?.Value} {authState.User.FindFirst("family_name")?.Value}";
    }
}
