@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* todo: Auth state *@
        <div class="top-row px-4">
            <Button Color="ButtonColor.Danger"> 
                Выйти <Icon Name="IconName.LayerBackward"></Icon>
            </Button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
